# Kaustav Ghosh 
## Reg 180905188
### Roll No 29 C


## 1. Write a program to find the area of rectangle. Take input from user.
## Eg.  x= int(input(‘Enter number:’))

In [1]:
length = int(input("Enter number:"))
breadth = int(input("Enter number:"))


print("length is :" , length )
print("breadth  is :" ,  breadth)
print("Area of rectangle is :" , length * breadth)

length is : 5
breadth  is : 7
Area of rectangle is : 35

## 2. Write a program to swap the values of two variables.

In [2]:
def swap():
    a = 5
    b = 7 
    print("a = " , a ,  "b= " , b)

    temp = a
    a = b 
    b = temp

    print("a = " , a ,  "b= " , b)

swap()

a =  5 b=  7
a =  7 b=  5

## 3. Write a program to find whether a number is even or odd.

In [3]:
def odd_or_even(num):
    return (num % 2) == 0

print(odd_or_even(7))

False

## 4. Write a program to check the largest among the given three numbers.

In [4]:
def largest_among_three(a,b,c):

    if a > b and a > c:
        return a
    elif b > a and b > c:
        return b
    else:
        return c


a = 5
b = 6
c = 7
print(largest_among_three(a,b,c))

7

## 5. Write a program to demonstrate while loop with else.

In [5]:
for i in range(1,5):
    print("Loop iteration : " , i)
else:
    print("inside else")

Loop iteration :  1
Loop iteration :  2
Loop iteration :  3
Loop iteration :  4
inside else

## 6. Write a program to print the prime numbers for a user provided range.

In [1]:

lower = int(input())
upper = int(input())

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

10
100
Prime numbers between 10 and 100 are:
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

## 7. Write a program to demonstrate List functions and operations.

In [7]:
my_list = [1,2,3,4]
print(my_list)

my_list.append(5)
print(my_list)

my_list.pop()
print(my_list)

my_list.insert(2,100)
print(my_list)

my_list2 = my_list.copy()
print(my_list2)


my_list.reverse()
print(my_list)

my_list.sort()
print(my_list)

my_list.count(2)
print(my_list)

print("index of 2 in the list is :", my_list.index(2))

my_list.clear()
print(my_list)

[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4]
[1, 2, 100, 3, 4]
[1, 2, 100, 3, 4]
[4, 3, 100, 2, 1]
[1, 2, 3, 4, 100]
[1, 2, 3, 4, 100]
index of 2 in the list is : 1
[]

## 8. Consider the tuple(1,3,5,7,9,2,4,6,8,10). Write a program to print half its values in one line and the other half in the next line.

In [8]:
my_tuple = (1,3,5,7,9,2,4,6,8,10)
list1 = []
list2 = []

for i in my_tuple:
    if i % 2 == 0:
        list1.append(i)
    else:
        list2.append(i)
        

print(list1)
print(list2)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

## 9. Consider the tuple (12, 7, 38, 56, 78 ). Write a program to print another tuple whose values are even number in the given tuple.

In [3]:
input = (12, 7, 38, 56, 78 )

even_list = []

for i in input:
    if i % 2 == 0:
        even_list.append(i)
        
even_tuple = tuple(even_list)
print(even_tuple)

(12, 38, 56, 78)

## 10. Write a Python program to print negative Numbers in a List  using for loop. Eg. [11, -21, 0, 45, 66, -93].

In [5]:
input_list = [11, -21, 0, 45, 66, -93]

for i in input_list:
    if i < 0:
        print(i)

-21
-93

## 11. Write a program to print negative Numbers in a List using while loop.

In [7]:
input_list = [11, -21, 0, 45, 66, -93]
i = 0

while i < 6:
    if input_list[i] < 0:
        print(input_list[i])
    i = i + 1

-21
-93

## 12. Write a Python program to count positive and negative numbers in a List.

In [13]:
input_list = [11, -21, 0, 45, 66, -93]

positives = 0
negatives = 0

for i in input_list:
    if i < 0:
        negatives = negatives + 1
    elif i > 0:
        positives = positives + 1

print("positives: " , positives)
print("negatives: " , negatives)

positives:  3
negatives:  2

## 13. Write a Python program to remove all even elements from a list  .

In [15]:
num_list = [11, 21, 10, 45, 66, 93]

print(num_list)

for i in num_list:
    if i % 2 == 0:
        num_list.remove(i)

print(num_list)

[11, 21, 10, 45, 66, 93]
[11, 21, 45, 93]

## 14. Define a dictionary containing Students data {Name, Height, Qualification}.
    a) Convert the dictionary into DataFrame 
    b) Declare a list that is to be converted into a new column (Address}
    c) Using 'Address' as the column name  and equate it to the list and display the result.

In [29]:
my_dict = { "Name" : [ "Kaustav" , "Sahil" ],
"Height" :  [ "170 cm" , "165 cm" ] ,
"Qualification" : ["B. Tech CSE" , "B. Tech CSE"] }

print(my_dict)
print()

import pandas as pd

df_my_dict = pd.DataFrame.from_dict(my_dict)
print(df_my_dict)
print()



address_list = ["Gurgaon" , "Jammu"]
df_my_dict["Address"] = address_list
print(df_my_dict)

{'Name': ['Kaustav', 'Sahil'], 'Height': ['170 cm', '165 cm'], 'Qualification': ['B. Tech CSE', 'B. Tech CSE']}

      Name  Height Qualification
0  Kaustav  170 cm   B. Tech CSE
1    Sahil  165 cm   B. Tech CSE

      Name  Height Qualification  Address
0  Kaustav  170 cm   B. Tech CSE  Gurgaon
1    Sahil  165 cm   B. Tech CSE    Jammu

##     15.   Define a dictionary containing Students data {Name, Height, Qualification}.
    a) Convert the dictionary into DataFrame 
    b) Use DataFrame.insert() to add a column and display the result.

In [34]:
my_dict = { "Name" : [ "Kaustav" , "Sahil" ],
"Height" :  [ "170 cm" , "165 cm" ] ,
"Qualification" : ["B. Tech CSE" , "B. Tech CSE"] }

print(my_dict)
print()

import pandas as pd

df_my_dict = pd.DataFrame.from_dict(my_dict)
print(df_my_dict)
print()


address_list = ["Gurgaon" , "Jammu"]
df_my_dict.insert(column="Address" , value=address_list , loc=3 )
print(df_my_dict)

{'Name': ['Kaustav', 'Sahil'], 'Height': ['170 cm', '165 cm'], 'Qualification': ['B. Tech CSE', 'B. Tech CSE']}

      Name  Height Qualification
0  Kaustav  170 cm   B. Tech CSE
1    Sahil  165 cm   B. Tech CSE

      Name  Height Qualification  Address
0  Kaustav  170 cm   B. Tech CSE  Gurgaon
1    Sahil  165 cm   B. Tech CSE    Jammu

## End